@page "/"
@using GuidGen.Web.Models
@using Microsoft.Extensions.Logging;

@inject ILogger<Index> logger;
@inject IJSRuntime JSRuntime
@inject Blazored.LocalStorage.ILocalStorageService localStorage


<article style="margin-bottom: 20px">
    <Row Class="justify-content-center postcontent">
        <Column ColumnSize="ColumnSize.Is12" Class="entry-content">
            <div class="input-group input-group-lg mb-4">
                <Addons>
                    <Addon AddonType="AddonType.Body">
                        <TextEdit Text="@GeneratedValue" Size="Size.Large" ReadOnly="true">

                        </TextEdit>
                    </Addon>
                    <Addon AddonType="AddonType.End">
                        <Button Color="Color.Primary" Clicked="@(CopyTextToClipboard)">
                            <Text Transform="TextTransform.Uppercase">copy</Text>
                        </Button>
                    </Addon>
                </Addons>
            </div>
            <Row Class="justify-content-around mb-4">
                <Column ColumnSize="ColumnSize.Is3">
                    <Switch TValue="bool" Checked="@Options.Uppercase" CheckedChanged="@OnUppercaseChanged">Uppercase</Switch>
                </Column>
                <Column ColumnSize="ColumnSize.Is3">
                    <Switch TValue="bool" Checked="@Options.Brackets" CheckedChanged="@OnBracketsChanged">Include brackets</Switch>
                </Column>
                <Column ColumnSize="ColumnSize.Is3">
                    <Switch TValue="bool" Checked="@Options.Hyphens" CheckedChanged="@OnHyphensChanged">Include hyphens</Switch>
                </Column>
            </Row>
            <div class="d-flex justify-content-center p-2 mb-5">
                <Button Color="Color.Primary" Clicked="@(Generate)">
                    <Text Transform="TextTransform.Uppercase">generate</Text>
                </Button>
            </div>
        </Column>
    </Row>
</article>
<Snackbar @ref="snackbar" Location="SnackbarLocation.Right" Color="SnackbarColor.Primary">
    <SnackbarBody>
        <div class="text-center">
            <Text Color="TextColor.White">Copied!</Text>
        </div>
    </SnackbarBody>
</Snackbar>

@code {
    private Guid _generatedValue;

    private string GeneratedValue
    {
        get
        {
            var guid = _generatedValue.ToString(Options.Brackets ? "B" : "D");

            guid = Options.Uppercase ? guid.ToUpperInvariant() : guid.ToLowerInvariant();

            if (!Options.Hyphens)
            {
                guid = guid.Replace("-", string.Empty);
            }

            return guid;
        }
    }

    private GuidGeneratorOptions Options { get; set; } = new GuidGeneratorOptions();

    private Snackbar snackbar;

    protected override async Task OnInitializedAsync()
    {
        var options = await localStorage.GetItemAsync<GuidGeneratorOptions>("options");
        if (options != null)
        {
            Options = options;
        }

        Generate();
    }

    private void Generate()
    {
        _generatedValue = Guid.NewGuid();
    }

    private async Task CopyTextToClipboard()
    {
        await JSRuntime.InvokeVoidAsync("clipboardCopy.copyText", GeneratedValue);
        await snackbar.Show();
    }

    private async Task OnUppercaseChanged(bool value)
    {
        Options.Uppercase = value;

        await localStorage.SetItemAsync("options", Options);
    }

    private async Task OnBracketsChanged(bool value)
    {
        Options.Brackets = value;

        await localStorage.SetItemAsync("options", Options);
    }

    private async Task OnHyphensChanged(bool value)
    {
        Options.Hyphens = value;

        await localStorage.SetItemAsync("options", Options);
    }

}
